.create {
  color: #555;
  max-width: 30rem;
  margin: 2.75rem auto;
  overflow: auto;
}
.create label span {
  display: block;
  margin: 1.875rem 0 0.625rem;
}
.create p {
  margin-top: 0.625rem;
  font-size: 0.8em;
}
.create button {
  display: block;
  width: 6.25rem;
  font-size: 1em;
  color: #fff;
  padding: 0.5rem;
  border: 0;
  border-radius: 0.25rem;
  background-color: #3d56b2;
  cursor: pointer;
  text-decoration: none;
  margin: 1.25rem auto;
  text-align: center;
}
.ingredients {
  display: flex;
  align-items: center;
}
.ingredients button {
  margin: 0 0 0 0.625rem;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #555;
}

@media only screen and (max-width: 600px) {
  .create {
    max-width: 20rem;
    margin: 1rem auto;
    overflow: auto;
    font-size: 0.8em;
  }
}
