@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");

/* base styles */
html,
body,
#root {
  height: 100%;
}

body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.4em;
  background: #dfdfdf;
  color: #333;
  overflow: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

input,
textarea {
  color: #333;
  padding: 0.5rem;
  font-size: 1em;
  border-radius: 0.25rem;
  border: 0.063rem solid #d4d4d4;
  background-color: #fff;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.page-title {
  text-align: center;
  margin: 2.5rem auto;
  color: #333;
}

.loading,
.error {
  text-align: center;
  margin: 2.5rem auto;
}
